name: TDR Run File Upload Data Tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@5d4fee21ed08f053613a7706e28623c0adc0f5f4 # v.0.0.10
    with:
      repo-name: tdr-file-upload-data
      test-command: |
        pip install pyOpenSSL --upgrade
        pip install -r requirements.txt
        python -m pytest
